.portfolios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolios li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
}

.portfolios li .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.5rem;
}

.portfolios li .title::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../icons/github.svg");
}

.portfolios li .title span {
  margin-left: 0.5rem;
  background: repeating-linear-gradient(
    -45deg,
    red 0%,
    yellow 7.14%,
    rgb(0, 255, 0) 14.28%,
    rgb(0, 255, 255) 21.4%,
    cyan 28.56%,
    blue 35.7%,
    magenta 42.84%,
    red 50%
  );
  background-size: 600vw 600vh;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 4s linear infinite forwards;
}

.portfolios .portfolio-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600vw;
  }
}
